@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


#slider-17 H1 {
  text-align: center;
  color: #f10a0a;
  font-family: 'PT Serif', serif;
}
#slider-17 P {
  color: #f10a0a;
  text-align: left;
}
#slider-17 .btn {
  font-family: 'Merriweather', serif;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-15 .mbr-article {
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-25 .mbr-article {
  color: #ffffff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
